.navbar-brand {
  background-image: url(../assets/leeson_blue_no_bg_banner_logo.svg);
  background-repeat: no-repeat;
  height:100px;
  width:400px;
  display:inline-block;
}

@media only screen and (max-width:600px) {
  .navbar-brand {
    background-image: url(../assets/leeson_blue_no_bg_basic_logo.svg);
    background-size: 170px;
    background-repeat: no-repeat;
    height:100px;
    width: 170px;
    display:inline-block;
  }
}

/* Maximum space for text block */
.md-grid {
  max-width: 100%; /* or 100%, if you want to stretch to full-width */
}

@font-face {
    font-family: "Denmark";
    src:url(denmark.ttf) ;
}

header,
.md-header__title {
    font-family: "Denmark";
    font-size: 2em;
    font-weight: 50;
    color: #ff6600;
}

.md-typeset h1 {
  font-family: var(--md-text-font-family);
}

.md-meta__list {
  font-family: var(--md-text-font-family);
}

.md-header {
  height:105px;
}

@media only screen and (min-width:800px) {
  .md-header {
    height: 110px;
  }
}

@media only screen and (max-width:600px) {
  .md-header {
    height:80px;
  }
}

.md-search {
  display: inline;
}

.md-search__input {
  position: absolute;
}

.md-header__button {
  float: right;
}
